*/__pycache__/
*/*.pyc
*/logs/*.log
!*/logs/initlog.log
raspberry/training_phase/__pycache__/
raspberry/buffer/*.csv
.DS_Store
.vscode
car/car_code_train/.pioenvs
car/car_code_train/.piolibdeps
car/car_code_train/.clang_complete
car/car_code_train/.gcc-flags.json
*.png
*.jpg
.cache/
deploy.sh
backend/dataServer/buffer/
backend/dataServer/img/
backend/dataServer/logs/


